@if (Request.IsAuthenticated)
{
    <text>
        Hello, @(User.Identity.Name)!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
        }
    </text>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new {ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()
        <p>
            Log in
            @{
                var p = OAuthWebSecurity.RegisteredClientData.First();
            }
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
        </p>
        
    }
}